In [62]:
# Importing all the necessary libraries to work with
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [63]:
# Loading and Reading companies and rounds2 data into pandas
companies = pd.read_csv("companies.csv", encoding='unicode_escape')
rounds2 = pd.read_csv("rounds2.csv", encoding='unicode_escape')

In [64]:
# Checking length and all the datatypes and columns of companies data
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   permalink      66368 non-null  object
 1   name           66367 non-null  object
 2   homepage_url   61310 non-null  object
 3   category_list  63220 non-null  object
 4   status         66368 non-null  object
 5   country_code   59410 non-null  object
 6   state_code     57821 non-null  object
 7   region         58338 non-null  object
 8   city           58340 non-null  object
 9   founded_at     51147 non-null  object
dtypes: object(10)
memory usage: 5.1+ MB

In [65]:
# Checking unique types of permalink values and duplicacies 
companies.permalink.value_counts()

permalink
/Organization/-Fame                                            1
/Organization/Pmedianetwork                                    1
/Organization/Pluristem-Therapeutics                           1
/Organization/Plurogen-Therapeutics                            1
/Organization/Pluromed                                         1
                                                              ..
/Organization/Galxyz                                           1
/Organization/Gamaby                                           1
/Organization/Gamador                                          1
/Organization/Gamaliel                                         1
/Organization/Ä°Novatiff-Reklam-Ve-Tanä±Tä±M-Hizmetleri-Tic    1
Name: count, Length: 66368, dtype: int64

In [66]:
# Checking length and all the dtypes of all the columns for rounds2 data
rounds2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114949 entries, 0 to 114948
Data columns (total 6 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   company_permalink        114949 non-null  object
 1   funding_round_permalink  114949 non-null  object
 2   funding_round_type       114949 non-null  object
 3   funding_round_code       31140 non-null   object
 4   funded_at                114949 non-null  object
 5   raised_amount_usd        94959 non-null   float64
dtypes: float64(1), object(5)
memory usage: 5.3+ MB

In [67]:
# Checking unique types of company_permalink values and duplicacies 
rounds2.company_permalink.value_counts()

company_permalink
/ORGANIZATION/SOLARFLARE                                       10
/ORGANIZATION/EXAGEN-DIAGNOSTICS                                9
/organization/quellan                                           9
/organization/semprius                                          9
/ORGANIZATION/SEMPRIUS                                          9
                                                               ..
/organization/gumhouse                                          1
/organization/gumbuya                                           1
/ORGANIZATION/GUMBUYA                                           1
/organization/gumball                                           1
/organization/ä°novatiff-reklam-ve-tanä±tä±m-hizmetleri-tic     1
Name: count, Length: 90247, dtype: int64

In [68]:
# Checking data whose company name is solarflare
# These are not the same company but companies having same name or may be subsidaries 
obj = rounds2[rounds2["company_permalink"] == "/ORGANIZATION/SOLARFLARE"]
obj

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
92195,/ORGANIZATION/SOLARFLARE,/funding-round/3453df52533d164e3c4c734c620d9163,venture,NaN,18-06-2008,26000000.0
92197,/ORGANIZATION/SOLARFLARE,/funding-round/6e71417aac2efce700d7a0c1a1b93312,venture,NaN,06-04-2014,40000.0
92199,/ORGANIZATION/SOLARFLARE,/funding-round/72ece469a2495114cf91adc7f7aa94ac,venture,NaN,02-01-2013,22022208.0
92201,/ORGANIZATION/SOLARFLARE,/funding-round/8ec87e2d48caee0b33daa22f5d116950,debt_financing,NaN,29-06-2012,10000000.0
92203,/ORGANIZATION/SOLARFLARE,/funding-round/93215e0d043eeb9362d432f96e8b77ba,debt_financing,NaN,17-05-2013,5000000.0
92205,/ORGANIZATION/SOLARFLARE,/funding-round/b0e8c0af1a532e2d462fbe6b5e9c5e7c,venture,NaN,27-05-2011,20488081.0
92207,/ORGANIZATION/SOLARFLARE,/funding-round/b1e3d713688574112a28941416892323,venture,NaN,05-01-2015,30137941.0
92209,/ORGANIZATION/SOLARFLARE,/funding-round/cd701ccc0a3e4630c3a1d177616f599e,debt_financing,NaN,16-09-2013,2500000.0
92211,/ORGANIZATION/SOLARFLARE,/funding-round/ebb46ff8e080aa78c426193cb1fe2a4f,venture,NaN,14-10-2014,1100000.0
92213,/ORGANIZATION/SOLARFLARE,/funding-round/fdb0df2f8f74c563148fdb0e68ad7e4a,debt_financing,NaN,06-04-2014,2942719.0

In [69]:
# Checking the company data's first few rows 
companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [70]:
# Checking the rounds2 data's first few rows 
rounds2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [71]:
# Changing all the companies permalink column to lower case
companies["permalink"] = (companies.permalink.apply(lambda x: x.lower()))

In [72]:
# Changing all the rounds2 company_permalink column to lower case and renaming it as permalink
rounds2["permalink"] = (rounds2.company_permalink.apply(lambda x: x.lower()))

In [73]:
# Droping column company_permalink 
rounds2.drop(["company_permalink"], axis=1, inplace=True)

In [74]:
# Cheching if both the data sets column named permalink has similar values
companies["permalink"].isin(rounds2["permalink"]).value_counts()

permalink
True     66363
False        5
Name: count, dtype: int64

In [75]:
# Cheching if both the data sets column named permalink has similar values the other way
rounds2["permalink"].isin(companies["permalink"]).value_counts()

permalink
True     114942
False         7
Name: count, dtype: int64

In [76]:
# Merging both the data sets into single one data frame called master_frame
master_frame = pd.merge(companies, rounds2, on=["permalink"], how="inner")
master_frame.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [77]:
# Checking the shape of master_frame
master_frame.shape

(114942, 15)

In [78]:
# Checking unique values of column funging_round_type 
master_frame["funding_round_type"].value_counts()

funding_round_type
venture                  55493
seed                     30518
debt_financing            6895
angel                     6094
undisclosed               4897
equity_crowdfunding       3257
private_equity            2285
grant                     2200
convertible_note          1817
post_ipo_equity            638
product_crowdfunding       410
non_equity_assistance      191
post_ipo_debt              152
secondary_market            95
Name: count, dtype: int64

In [79]:
# Grouping the data set by unique values in funding_round_type column
df_by_fund = master_frame.groupby("funding_round_type")

In [80]:
# Checking the maximum value by raised_amount_usd column
df_by_fund["raised_amount_usd"].sum()/1000000000

funding_round_type
angel                      4.659255
convertible_note           2.103126
debt_financing           113.884841
equity_crowdfunding        0.661116
grant                      9.134424
non_equity_assistance      0.030018
post_ipo_debt             25.643095
post_ipo_equity           51.610606
private_equity           141.925436
product_crowdfunding       0.526169
secondary_market           2.389489
seed                      16.988239
undisclosed               30.441430
venture                  590.126217
Name: raised_amount_usd, dtype: float64

In [81]:
# Checking the unique values by funding_round_code column
df_by_fund["funding_round_code"].value_counts()

funding_round_type  funding_round_code
angel               A                        18
                    B                         1
convertible_note    A                         3
                    B                         2
debt_financing      B                         2
                    E                         1
                    D                         1
post_ipo_equity     B                         2
private_equity      A                         2
                    C                         1
                    H                         1
secondary_market    C                         1
seed                A                       101
                    B                         9
                    C                         2
undisclosed         A                         6
                    B                         2
venture             A                     14616
                    B                      8695
                    C                      4472
                    D                      2024
                    E                       810
                    F                       283
                    G                        73
                    H                        11
Name: count, dtype: int64

In [82]:
# Grouping by column "country_code"
df_by_cntry = master_frame.groupby("country_code")

In [83]:
# Fetching the maximum no. of investment done by a country in decending order
df_by_cntry["name"].count().sort_values(ascending=False)

country_code
USA    72307
GBR     5966
CAN     3115
CHN     2693
IND     2233
       ...
SEN        1
QAT        1
PRY        1
MNE        1
KNA        1
Name: name, Length: 137, dtype: int64

In [84]:
# Grouping by funding_round_type and then country_code
top9 = master_frame.groupby(["funding_round_type", "country_code"])

In [85]:
# Fetching the total sum of first ten rows by raised_amount_usd  in decending order 
top9["raised_amount_usd"].sum().sort_values(ascending = False)[:10]

funding_round_type  country_code
venture             USA             4.225108e+11
debt_financing      USA             9.341181e+10
private_equity      USA             7.622128e+10
venture             CHN             3.983542e+10
post_ipo_equity     USA             2.683811e+10
private_equity      CHN             2.111665e+10
venture             GBR             2.024563e+10
post_ipo_debt       USA             1.734493e+10
venture             IND             1.439186e+10
seed                USA             1.052243e+10
Name: raised_amount_usd, dtype: float64

In [86]:
# Taking a look at master_frame data set column dtype
master_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114942 entries, 0 to 114941
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   permalink                114942 non-null  object
 1   name                     114941 non-null  object
 2   homepage_url             108810 non-null  object
 3   category_list            111535 non-null  object
 4   status                   114942 non-null  object
 5   country_code             106271 non-null  object
 6   state_code               104003 non-null  object
 7   region                   104782 non-null  object
 8   city                     104785 non-null  object
 9   founded_at               94422 non-null   object
 10  funding_round_permalink  114942 non-null  object
 11  funding_round_type       114942 non-null  object
 12  funding_round_code       31139 non-null   object
 13  funded_at                114942 non-null  object
 14  raised_amount_usd        94958 non-null   float64
dtypes: float64(1), object(14)
memory usage: 13.2+ MB

In [87]:
# Taking the first category as the primary category from the category_list column 
master_frame["category_list"] = master_frame["category_list"].apply(lambda x: str(x).split("|")[0])

In [88]:
# Cheching effect of the previous operation
master_frame.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps,operating,NaN,NaN,NaN,NaN,NaN,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [89]:
# Loading and Reading the mapping data set
mapping = pd.read_csv("mapping.csv")

In [90]:
# Finally merging the data into one data set and keeping only rquired columns for further analysis
df_final = master_frame.merge(mapping, how="inner", on=["category_list"])

In [91]:
# Display the final data set
df_final

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,...,raised_amount_usd,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,...,10000000.0,0,0,0,1,0,0,0,0,0
1,/organization/90min,90min,http://www.90min.com,Media,operating,GBR,H9,London,London,01-01-2011,...,15000000.0,0,0,0,1,0,0,0,0,0
2,/organization/90min,90min,http://www.90min.com,Media,operating,GBR,H9,London,London,01-01-2011,...,5800000.0,0,0,0,1,0,0,0,0,0
3,/organization/90min,90min,http://www.90min.com,Media,operating,GBR,H9,London,London,01-01-2011,...,18000000.0,0,0,0,1,0,0,0,0,0
4,/organization/a-b-productions,A.B Productions,NaN,Media,operating,USA,CA,Los Angeles,Los Angeles,11-12-2012,...,NaN,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103388,/organization/wing-ma-am,Wing Ma'am,http://www.wingmaam.com/,Gay & Lesbian,operating,USA,PA,Pittsburgh,Pittsburgh,07-10-2012,...,NaN,0,0,0,0,0,0,0,1,0
103389,/organization/wing-ma-am,Wing Ma'am,http://www.wingmaam.com/,Gay & Lesbian,operating,USA,PA,Pittsburgh,Pittsburgh,07-10-2012,...,25000.0,0,0,0,0,0,0,0,1,0
103390,/organization/wiselike,Wiselike,https://wiselike.com/,Q&A,operating,USA,CA,SF Bay Area,San Francisco,NaN,...,1250000.0,0,0,0,0,0,0,1,0,0
103391,/organization/yes-no,yes.no,http://yes.no,Q&A,closed,ISR,5,Tel Aviv,Tel Aviv,01-01-2015,...,1000000.0,0,0,0,0,0,0,1,0,0
103392,/organization/youcruit,Youcruit,http://www.youcruit.com,Micro-Enterprises,operating,SWE,27,Malmo,MalmÃ¶,01-01-2012,...,447037.0,0,0,0,0,0,0,0,1,0

In [121]:
c1 = df_final.loc[(df_final["country_code"] == "USA") & (df_final["funding_round_type"] == "venture") & (df_final["raised_amount_usd"].between(5000000, 15000000))]
c1["raised_amount_usd"].sum()

99661524549.0

In [122]:
c2 = df_final.loc[(df_final["country_code"] == "GBR") & (df_final["funding_round_type"] == "venture") & (df_final["raised_amount_usd"].between(5000000, 15000000))]
c2["raised_amount_usd"].sum()

5028704358.0

In [123]:
c3 = df_final.loc[(df_final["country_code"] == "IND") & (df_final["funding_round_type"] == "venture") & (df_final["raised_amount_usd"].between(5000000, 15000000))]
c3["raised_amount_usd"].sum()

2683537552.0

In [239]:
c1_sec1 = c1.loc[c1["Automotive & Sports"]==1]
c1_sec2 = c1.loc[c1["Cleantech / Semiconductors"]==1]
c1_sec3 = c1.loc[c1["Entertainment"]==1]
c1_sec4 = c1.loc[c1["Health"]==1]
c1_sec5 = c1.loc[c1["Manufacturing"]==1]
c1_sec6 = c1.loc[c1["News, Search and Messaging"]==1]
c1_sec7 = c1.loc[c1["Others"]==1]
c1_sec8 = c1.loc[c1["Social, Finance, Analytics, Advertising"]==1]
c1_sec7.count()

permalink                                  2923
name                                       2923
homepage_url                               2721
category_list                              2923
status                                     2923
country_code                               2923
state_code                                 2922
region                                     2922
city                                       2922
founded_at                                 2558
funding_round_permalink                    2923
funding_round_type                         2923
funding_round_code                         2144
funded_at                                  2923
raised_amount_usd                          2923
Automotive & Sports                        2923
Blanks                                     2923
Cleantech / Semiconductors                 2923
Entertainment                              2923
Health                                     2923
Manufacturing                              2923
News, Search and Messaging                 2923
Others                                     2923
Social, Finance, Analytics, Advertising    2923
dtype: int64

In [193]:
c2_sec1 = c2.loc[c2["Automotive & Sports"]==1]
c2_sec2 = c2.loc[c2["Cleantech / Semiconductors"]==1]
c2_sec3 = c2.loc[c2["Entertainment"]==1]
c2_sec4 = c2.loc[c2["Health"]==1]
c2_sec5 = c2.loc[c2["Manufacturing"]==1]
c2_sec6 = c2.loc[c2["News, Search and Messaging"]==1]
c2_sec7 = c2.loc[c2["Others"]==1]
c2_sec8 = c2.loc[c2["Social, Finance, Analytics, Advertising"]==1]
c2_sec8.count()

permalink                                  98
name                                       98
homepage_url                               96
category_list                              98
status                                     98
country_code                               98
state_code                                 97
region                                     95
city                                       95
founded_at                                 88
funding_round_permalink                    98
funding_round_type                         98
funding_round_code                         74
funded_at                                  98
raised_amount_usd                          98
Automotive & Sports                        98
Blanks                                     98
Cleantech / Semiconductors                 98
Entertainment                              98
Health                                     98
Manufacturing                              98
News, Search and Messaging                 98
Others                                     98
Social, Finance, Analytics, Advertising    98
dtype: int64

In [255]:
c3_sec1 = c3.loc[c3["Automotive & Sports"]==1]
c3_sec2 = c3.loc[c3["Cleantech / Semiconductors"]==1]
c3_sec3 = c3.loc[c3["Entertainment"]==1]
c3_sec4 = c3.loc[c3["Health"]==1]
c3_sec5 = c3.loc[c3["Manufacturing"]==1]
c3_sec6 = c3.loc[c3["News, Search and Messaging"]==1]
c3_sec7 = c3.loc[c3["Others"]==1]
c3_sec8 = c3.loc[c3["Social, Finance, Analytics, Advertising"]==1]
c3_sec3.count()

permalink                                  33
name                                       33
homepage_url                               33
category_list                              33
status                                     33
country_code                               33
state_code                                 33
region                                     33
city                                       33
founded_at                                 26
funding_round_permalink                    33
funding_round_type                         33
funding_round_code                         24
funded_at                                  33
raised_amount_usd                          33
Automotive & Sports                        33
Blanks                                     33
Cleantech / Semiconductors                 33
Entertainment                              33
Health                                     33
Manufacturing                              33
News, Search and Messaging                 33
Others                                     33
Social, Finance, Analytics, Advertising    33
dtype: int64

In [247]:
c1_sec7.sort_values(by=(["raised_amount_usd"]), ascending=False)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,...,raised_amount_usd,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
31001,/organization/gemvara,Gemvara,http://www.gemvara.com,E-Commerce,operating,USA,MA,Boston,Boston,01-01-2007,...,15000000.0,0,0,0,0,0,0,0,1,0
8959,/organization/formation-data-systems,Formation Data Systems,http://www.formationds.com,Software,operating,USA,CA,SF Bay Area,Fremont,01-01-2013,...,15000000.0,0,0,0,0,0,0,0,1,0
49641,/organization/forgerock,ForgeRock,http://www.forgerock.com,Enterprise Software,operating,USA,CA,SF Bay Area,San Francisco,01-02-2010,...,15000000.0,0,0,0,0,0,0,0,1,0
7714,/organization/cassatt,Cassatt,http://www.cassatt.com,Software,acquired,USA,CA,SF Bay Area,San Jose,01-01-2003,...,15000000.0,0,0,0,0,0,0,0,1,0
50730,/organization/rage-frameworks,Rage Frameworks,http://www.rageframeworks.com/index.htm,Enterprise Software,operating,USA,MA,Boston,Westwood,01-01-2001,...,15000000.0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51110,/organization/startforce,StartForce,http://www.startforce.com,Enterprise Software,acquired,USA,CA,SF Bay Area,San Francisco,01-04-2006,...,5000000.0,0,0,0,0,0,0,0,1,0
13034,/organization/uxpin,UXPin,http://uxpin.com,Software,operating,USA,CA,SF Bay Area,Mountain View,11-11-2010,...,5000000.0,0,0,0,0,0,0,0,1,0
51135,/organization/strikeiron,StrikeIron,http://www.strikeiron.com,Enterprise Software,operating,USA,NC,Raleigh,Cary,01-01-2003,...,5000000.0,0,0,0,0,0,0,0,1,0
8798,/organization/evostor,Evostor,http://virsto.com,Software,acquired,USA,CA,SF Bay Area,Campbell,01-01-2007,...,5000000.0,0,0,0,0,0,0,0,1,0
11581,/organization/readypulse,ReadyPulse,http://www.readypulse.com,Software,operating,USA,CA,SF Bay Area,San Carlos,01-11-2010,...,5000000.0,0,0,0,0,0,0,0,1,0

In [248]:
c2_sec7.sort_values(by=(["raised_amount_usd"]), ascending=False)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,...,raised_amount_usd,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
8726,/organization/environmentiq,EnvironmentIQ,NaN,Software,operating,GBR,C3,London,Cambridge,01-01-1988,...,15000000.0,0,0,0,0,0,0,0,1,0
7277,/organization/azure-solutions,Azure Solutions,http://www.azuresolutions.com,Software,acquired,GBR,H9,London,London,NaN,...,15000000.0,0,0,0,0,0,0,0,1,0
12894,/organization/tribold,Tribold,http://www.tribold.com,Software,acquired,GBR,H9,London,London,01-01-2003,...,15000000.0,0,0,0,0,0,0,0,1,0
66050,/organization/silverrail-technologies,SilverRail Technologies,http://silverrailtech.com,Technology,operating,GBR,H9,London,London,01-04-2009,...,15000000.0,0,0,0,0,0,0,0,1,0
32245,/organization/notonthehighstreet,Notonthehighstreet,http://www.notonthehighstreet.com,E-Commerce,operating,GBR,L1,London,Richmond,04-04-2006,...,15000000.0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98048,/organization/vector-watch,Vector Watch,http://www.vectorwatch.com/,Watch,operating,GBR,H9,London,London,01-01-2013,...,5000000.0,0,0,0,0,0,0,0,1,0
7568,/organization/bullguard,BullGuard,http://www.bullguard.com,Software,operating,GBR,H9,London,London,01-01-2002,...,5000000.0,0,0,0,0,0,0,0,1,0
66047,/organization/silverrail-technologies,SilverRail Technologies,http://silverrailtech.com,Technology,operating,GBR,H9,London,London,01-04-2009,...,5000000.0,0,0,0,0,0,0,0,1,0
7290,/organization/bacula-systems,Bacula Systems,http://www.baculasystems.com,Software,operating,GBR,C5,NaN,NaN,NaN,...,5000000.0,0,0,0,0,0,0,0,1,0
51368,/organization/udex,Udex,NaN,Enterprise Software,acquired,GBR,Y6,Newport,Newport,01-01-1998,...,5000000.0,0,0,0,0,0,0,0,1,0

In [249]:
c3_sec7.sort_values(by=(["raised_amount_usd"]), ascending=False)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,...,raised_amount_usd,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
83073,/organization/ipolicy-networks,iPolicy Networks,http://www.ipolicynet.com,Security,operating,IND,36,New Delhi,Noida,NaN,...,15000000.0,0,0,0,0,0,0,0,1,0
94834,/organization/comat-technologies,Comat Technologies,http://www.comat.com,Governments,closed,IND,19,Bangalore,Bangalore,01-01-1996,...,15000000.0,0,0,0,0,0,0,0,1,0
30122,/organization/caratlane,CaratLane,http://www.caratlane.com,E-Commerce,operating,IND,25,Chennai,Chennai,01-10-2008,...,15000000.0,0,0,0,0,0,0,0,1,0
33885,/organization/voylla-retail-pvt-ltd,Voylla Retail Pvt. Ltd.,http://www.voylla.com,E-Commerce,operating,IND,19,Bangalore,Bangalore,01-05-2012,...,15000000.0,0,0,0,0,0,0,0,1,0
40769,/organization/zo-rooms,ZO Rooms,http://bit.ly/1HTcZ90,Hospitality,operating,IND,7,New Delhi,New Delhi,01-01-2014,...,15000000.0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32482,/organization/paymate-india,PayMate India,http://www.gopaymate.com,E-Commerce,operating,IND,16,Mumbai,Mumbai,01-01-2006,...,5000000.0,0,0,0,0,0,0,0,1,0
32112,/organization/myntra,Myntra,http://www.myntra.com,E-Commerce,acquired,IND,19,Bangalore,Bangalore,01-01-2007,...,5000000.0,0,0,0,0,0,0,0,1,0
31706,/organization/limeroad,LimeRoad,http://www.limeroad.com,E-Commerce,operating,IND,10,New Delhi,Gurgaon,01-01-2012,...,5000000.0,0,0,0,0,0,0,0,1,0
7060,/organization/appsdaily-solutions,Appsdaily Solutions,http://appsdailyworld.com/daily/index.jsp,Software,operating,IND,16,Mumbai,Mumbai,01-01-2008,...,5000000.0,0,0,0,0,0,0,0,1,0
33879,/organization/voonik-com,Voonik,http://voonik.com,E-Commerce,operating,IND,19,Bangalore,Bengaluru,17-01-2013,...,5000000.0,0,0,0,0,0,0,0,1,0

In [250]:
c1_sec2.sort_values(by=(["raised_amount_usd"]), ascending=False)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,...,raised_amount_usd,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
87925,/organization/liquid-light,Liquid Light,http://llchemical.com,Chemicals,operating,USA,NJ,Newark,Monmouth Junction,NaN,...,15000000.0,0,0,1,0,0,0,0,0,0
19456,/organization/ensemble-discovery,Ensemble Discovery,http://www.ensemblediscovery.com,Biotechnology,operating,USA,MA,Boston,Cambridge,NaN,...,15000000.0,0,0,1,0,0,0,0,0,0
24886,/organization/symic-biomedical,Symic Biomedical,http://www.symicbio.com/contact/,Biotechnology,operating,USA,CA,SF Bay Area,San Francisco,01-01-2012,...,15000000.0,0,0,1,0,0,0,0,0,0
24857,/organization/sutro-biopharma,Sutro Biopharma,http://www.sutrobio.com,Biotechnology,operating,USA,CA,SF Bay Area,South San Francisco,01-01-2003,...,15000000.0,0,0,1,0,0,0,0,0,0
16316,/organization/allena-pharmaceuticals,Allena Pharmaceuticals,http://www.allenapharma.com,Biotechnology,operating,USA,MA,Boston,Newton,01-01-2011,...,15000000.0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61491,/organization/xtreme-power,Xtreme Power,http://www.xtremepower.com,Clean Technology,operating,USA,TX,Austin,Kyle,01-01-2004,...,5000000.0,0,0,1,0,0,0,0,0,0
24082,/organization/rfs-pharma,RFS Pharma,http://www.rfspharma.com,Biotechnology,operating,USA,GA,Atlanta,Tucker,NaN,...,5000000.0,0,0,1,0,0,0,0,0,0
61468,/organization/wrightspeed,Wrightspeed,http://www.wrightspeed.com,Clean Technology,operating,USA,CA,SF Bay Area,San Jose,01-01-2005,...,5000000.0,0,0,1,0,0,0,0,0,0
18089,/organization/cell-point,Cell>Point,http://cellpointweb.com,Biotechnology,operating,USA,CO,Denver,Centennial,NaN,...,5000000.0,0,0,1,0,0,0,0,0,0
21530,/organization/ls9,LS9,http://www.ls9.com,Biotechnology,acquired,USA,CA,SF Bay Area,South San Francisco,01-01-2005,...,5000000.0,0,0,1,0,0,0,0,0,0

In [251]:
c2_sec2.sort_values(by=(["raised_amount_usd"]), ascending=False)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,...,raised_amount_usd,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
79123,/organization/anadigm,Anadigm,http://www.anadigm.com/,Semiconductors,closed,GBR,Z7,GBR - Other,Crewe,NaN,...,15000000.0,0,0,1,0,0,0,0,0,0
79376,/organization/elixent,Elixent,https://www.elixent.com,Semiconductors,operating,GBR,B7,Bristol,Bristol,01-01-2000,...,15000000.0,0,0,1,0,0,0,0,0,0
22838,/organization/onyvax,Onyvax,http://www.onyvax.com,Biotechnology,operating,GBR,M3,Bradford,Bradford,NaN,...,14906222.0,0,0,1,0,0,0,0,0,0
21404,/organization/lectus-therapeutics,Lectus Therapeutics,http://www.lectustherapeutics.com,Biotechnology,closed,GBR,C3,London,Cambridge,NaN,...,14257949.0,0,0,1,0,0,0,0,0,0
80228,/organization/xmos,XMOS,http://www.xmos.com,Semiconductors,operating,GBR,B7,Bristol,Bristol,01-01-2005,...,14000000.0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20256,/organization/green-biologics,Green Biologics,http://www.greenbiologics.com,Biotechnology,operating,GBR,K2,London,Abingdon,01-01-2003,...,5118945.0,0,0,1,0,0,0,0,0,0
59612,/organization/flowline,Flowline,http://www.flowlineltd.co.uk/about-flowline/,Clean Technology,operating,GBR,E4,GBR - Other,Rayleigh,01-06-1991,...,5104587.0,0,0,1,0,0,0,0,0,0
59867,/organization/ignis-energy,Ignis Energy,http://www.ignis-energy.com,Clean Technology,operating,GBR,N7,NaN,NaN,NaN,...,5014644.0,0,0,1,0,0,0,0,0,0
79738,/organization/nanotech-semiconductor,Nanotech Semiconductor,http://www.nanosemi.co.uk,Semiconductors,operating,GBR,B7,Bristol,Bristol,01-05-2003,...,5000000.0,0,0,1,0,0,0,0,0,0
19644,/organization/exco-intouch,Exco InTouch,http://www.excointouch.com,Biotechnology,operating,GBR,J8,Nottingham,Nottingham,01-01-2004,...,5000000.0,0,0,1,0,0,0,0,0,0

In [252]:
c3_sec6.sort_values(by=(["raised_amount_usd"]), ascending=False)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,...,raised_amount_usd,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
27806,/organization/mobile2win-india,Mobile2Win India,http://www.mobile2win.com,Mobile,operating,IND,16,Mumbai,Mumbai,NaN,...,15000000.0,0,0,0,0,0,0,1,0,0
72836,/organization/hike,hike,http://get.hike.in,Messaging,operating,IND,7,New Delhi,New Delhi,12-12-2012,...,14000000.0,0,0,0,0,0,0,1,0,0
27303,/organization/imimobile,IMImobile,http://openhouse.imimobile.com,Mobile,ipo,IND,2,Hyderabad,Hyderabad,01-01-1999,...,13000000.0,0,0,0,0,0,0,1,0,0
28663,/organization/sms-gupshup,SMS GupShup,http://www.smsgupshup.com,Mobile,operating,IND,16,Mumbai,Mumbai,01-06-1994,...,12000000.0,0,0,0,0,0,0,1,0,0
27224,/organization/gupshup-technology-india-pvt-ltd,GupShup,http://gupshup.me,Mobile,operating,IND,16,Mumbai,Mumbai,01-06-2004,...,12000000.0,0,0,0,0,0,0,1,0,0
3209,/organization/bharat-matrimony,Bharat Matrimony,http://www.bharatmatrimony.com,Curated Web,operating,IND,25,Chennai,Chennai,12-03-1969,...,11750000.0,0,0,0,0,0,0,1,0,0
94399,/organization/matrimony-com,Matrimony.com,http://www.matrimony.com,Classifieds,operating,IND,25,Chennai,Chennai,14-04-1997,...,11750000.0,0,0,0,0,0,0,1,0,0
66294,/organization/roadrunnr,Roadrunnr,http://www.roadrunnr.in/,Delivery,operating,IND,19,IND - Other,Kormangala,01-01-2015,...,11000000.0,0,0,0,0,0,0,1,0,0
27223,/organization/gupshup-technology-india-pvt-ltd,GupShup,http://gupshup.me,Mobile,operating,IND,16,Mumbai,Mumbai,01-06-2004,...,11000000.0,0,0,0,0,0,0,1,0,0
28929,/organization/teledna,TeleDNA,http://www.teledna.com,Mobile,operating,IND,19,Bangalore,Bangalore,01-06-2001,...,10490000.0,0,0,0,0,0,0,1,0,0
2053,/organization/peppertap,PepperTap,http://www.peppertap.com,Apps,operating,IND,10,New Delhi,Gurgaon,26-11-2014,...,10000000.0,0,0,0,0,0,0,1,0,0
27304,/organization/imimobile,IMImobile,http://openhouse.imimobile.com,Mobile,ipo,IND,2,Hyderabad,Hyderabad,01-01-1999,...,10000000.0,0,0,0,0,0,0,1,0,0
28073,/organization/one97-communications,One97 Communications,http://www.one97.com,Mobile,operating,IND,7,New Delhi,New Delhi,23-12-2000,...,10000000.0,0,0,0,0,0,0,1,0,0
28664,/organization/sms-gupshup,SMS GupShup,http://www.smsgupshup.com,Mobile,operating,IND,16,Mumbai,Mumbai,01-06-1994,...,10000000.0,0,0,0,0,0,0,1,0,0
3154,/organization/babajob,Babajob,http://www.babajob.com,Curated Web,operating,IND,19,Bangalore,Bangalore,27-08-2007,...,10000000.0,0,0,0,0,0,0,1,0,0
4802,/organization/money-on-mobile,Money On Mobile,http://www.money-on-mobile.net,Curated Web,operating,IND,16,Mumbai,Mumbai,01-01-2010,...,10000000.0,0,0,0,0,0,0,1,0,0
55314,/organization/just-dial,Just Dial,http://www.justdial.com,Local Search,closed,IND,16,Mumbai,Mumbai,14-11-1997,...,10000000.0,0,0,0,0,0,0,1,0,0
27225,/organization/gupshup-technology-india-pvt-ltd,GupShup,http://gupshup.me,Mobile,operating,IND,16,Mumbai,Mumbai,01-06-2004,...,10000000.0,0,0,0,0,0,0,1,0,0
66296,/organization/roadrunnr,Roadrunnr,http://www.roadrunnr.in/,Delivery,operating,IND,19,IND - Other,Kormangala,01-01-2015,...,10000000.0,0,0,0,0,0,0,1,0,0
3993,/organization/fourinteractive,Four Interactive,http://www.fourint.com,Curated Web,operating,IND,19,Bangalore,Bangalore,01-01-2006,...,10000000.0,0,0,0,0,0,0,1,0,0
3271,/organization/bluestone-com,Bluestone.com,http://bluestone.com,Curated Web,operating,IND,19,Bangalore,Bangalore,01-01-2011,...,10000000.0,0,0,0,0,0,0,1,0,0
2760,/organization/urbanclap,UrbanClap,https://www.urbanclap.com,Apps,operating,IND,7,Delhi,Delhi,01-10-2014,...,10000000.0,0,0,0,0,0,0,1,0,0
55248,/organization/webshastra-pvt-ltd,Webshastra,http://www.webshastra.com/,Internet,acquired,IND,19,Bangalore,Bangalore,NaN,...,10000000.0,0,0,0,0,0,0,1,0,0
94400,/organization/matrimony-com,Matrimony.com,http://www.matrimony.com,Classifieds,operating,IND,25,Chennai,Chennai,14-04-1997,...,8650000.0,0,0,0,0,0,0,1,0,0
55074,/organization/shadowfax-technologies,Shadowfax Technologies,http://shadowfax.in/,Internet,operating,IND,10,New Delhi,Gurgaon,01-01-2015,...,8500000.0,0,0,0,0,0,0,1,0,0
26963,/organization/ezetap,Ezetap,http://www.ezetap.com,Mobile,operating,IND,19,Bangalore,Bangalore,01-01-2011,...,8000000.0,0,0,0,0,0,0,1,0,0
5139,/organization/people-interactive-india,People Interactive (India),NaN,Curated Web,operating,IND,16,Mumbai,Mumbai,NaN,...,8000000.0,0,0,0,0,0,0,1,0,0
5367,/organization/quikr-india,Quikr,http://www.quikr.com,Curated Web,operating,IND,16,Mumbai,Mumbai,12-01-2008,...,8000000.0,0,0,0,0,0,0,1,0,0
39201,/organization/guruji,Guruji,http://guruji.com,Search,closed,IND,19,Bangalore,Bangalore,12-10-2006,...,8000000.0,0,0,0,0,0,0,1,0,0
2671,/organization/tinyowl-technology,TinyOwl Technology,http://tinyowl.com/,Apps,operating,IND,16,Mumbai,Mumbai,NaN,...,7665775.0,0,0,0,0,0,0,1,0,0
27968,/organization/nazara-technologies,Nazara Technologies,http://nazara.com,Mobile,operating,IND,16,Mumbai,Mumbai,01-01-2000,...,7000000.0,0,0,0,0,0,0,1,0,0
72837,/organization/hike,hike,http://get.hike.in,Messaging,operating,IND,7,New Delhi,New Delhi,12-12-2012,...,7000000.0,0,0,0,0,0,0,1,0,0
39202,/organization/guruji,Guruji,http://guruji.com,Search,closed,IND,19,Bangalore,Bangalore,12-10-2006,...,7000000.0,0,0,0,0,0,0,1,0,0
85765,/organization/culturealley,CultureAlley,http://culturealley.com/,Browser Extensions,operating,IND,24,Jaipur,Jaipur,01-12-2012,...,6500000.0,0,0,0,0,0,0,1,0,0
62787,/organization/knowlarity-communications,Knowlarity Communications,http://knowlarity.com,Cloud Computing,operating,IND,10,New Delhi,Gurgaon,17-08-2009,...,6500000.0,0,0,0,0,0,0,1,0,0
5427,/organization/redbus-in,redBus.in,http://www.redbus.in,Curated Web,acquired,IND,19,Bangalore,Bangalore,01-01-2006,...,6428770.0,0,0,0,0,0,0,1,0,0
55292,/organization/zinka-logistics,Zinka Logistics,NaN,Internet,operating,IND,19,Bangalore,Bengaluru,NaN,...,6000000.0,0,0,0,0,0,0,1,0,0
5368,/organization/quikr-india,Quikr,http://www.quikr.com,Curated Web,operating,IND,16,Mumbai,Mumbai,12-01-2008,...,6000000.0,0,0,0,0,0,0,1,0,0
975,/organization/chillr-2,Chillr,http://chillr.in,Apps,operating,IND,13,Cochin,Cochin,22-12-2013,...,6000000.0,0,0,0,0,0,0,1,0,0
65675,/organization/surewaves,SureWaves,http://surewaves.com,News,operating,IND,19,Bangalore,Bangalore,01-09-2006,...,5700000.0,0,0,0,0,0,0,1,0,0
55165,/organization/the-porter,The Porter,https://theporter.in/index.php,Internet,operating,IND,16,Mumbai,Mumbai,01-01-2014,...,5500000.0,0,0,0,0,0,0,1,0,0
84279,/organization/easylink,EasyLink,http://www.xlweb.com,Web Design,ipo,IND,25,Chennai,Chennai,14-04-1995,...,5400000.0,0,0,0,0,0,0,1,0,0
6502,/organization/wooplr,Wooplr,http://www.wooplr.com,Curated Web,operating,IND,19,Bangalore,Bangalore,23-03-2012,...,5000000.0,0,0,0,0,0,0,1,0,0
55297,/organization/zoomo,Zoomo,http://www.gozoomo.com/,Internet,operating,IND,19,Bangalore,Bangalore,01-01-2014,...,5000000.0,0,0,0,0,0,0,1,0,0
4783,/organization/mobikwik,MobiKwik,http://www.mobikwik.com,Curated Web,operating,IND,10,New Delhi,Gurgaon,01-08-2009,...,5000000.0,0,0,0,0,0,0,1,0,0
54424,/organization/belong,Belong,https://belong.co/,Internet,operating,IND,19,Bangalore,Bangalore,01-01-2014,...,5000000.0,0,0,0,0,0,0,1,0,0
65443,/organization/chakpak-media,Chakpak Media,http://www.chakpak.com,News,operating,IND,19,Bangalore,Bangalore,NaN,...,5000000.0,0,0,0,0,0,0,1,0,0
4586,/organization/localoye,LocalOye,http://localoye.com,Curated Web,operating,IND,16,Mumbai,Mumbai,01-01-2013,...,5000000.0,0,0,0,0,0,0,1,0,0
4579,/organization/localbanya,LocalBanya,http://localbanya.com,Curated Web,operating,IND,16,Mumbai,Mumbai,01-05-2012,...,5000000.0,0,0,0,0,0,0,1,0,0
3269,/organization/bluestone-com,Bluestone.com,http://bluestone.com,Curated Web,operating,IND,19,Bangalore,Bangalore,01-01-2011,...,5000000.0,0,0,0,0,0,0,1,0,0
5522,/organization/reviews42,Reviews42,http://www.reviews42.com,Curated Web,operating,IND,7,New Delhi,New Delhi,28-12-2010,...,5000000.0,0,0,0,0,0,0,1,0,0
1574,/organization/jugnoo,JUGNOO,https://jugnoo.in/#/,Apps,operating,IND,5,Chandigarh,Chandigarh,01-11-2014,...,5000000.0,0,0,0,0,0,0,1,0,0