In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("loan.csv", low_memory=False)

In [4]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [17]:
list(df.columns)

NameError: name 'df' is not defined

In [25]:
n=int(input())

def arm(num):
    if len(str(num)) == 3:
        i = 3
        sums = 0
        while i > 0:
            r = num%10
            sums = sums + r**3
            num = num//10
            i -= 1
    return sums
        
def main():
    
    if arm(n) == n:
        print("True")
    else:
        print("False")
        
main()

153
True

In [30]:
import pandas as pd 
df = pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/8NMooe4G0ENEe8z9q5ZvaZA7/googleplaystore.csv")
#add your cleaning code here

In [31]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [44]:
df["Installs"]="Free"

AttributeError: 'str' object has no attribute 'value_counts'

In [38]:
df["Installs"] = df["Installs"].apply(lambda x: int(x.strip(",'+")))
df.head()

ValueError: invalid literal for int() with base 10: '10,000'

In [37]:
df["Installs"].iloc[235]

'100,000'

In [103]:
import pandas as pd
wholesale = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/OkbnaOBqrBXZOpRQw1JGMgaM9/Wholesale_Data.csv')

In [104]:
wholesale["Channel"].value_counts()

Channel
H             47
Cafe          45
R             42
Caffe         42
C             36
Hote          35
Hot           32
Hotel         32
Restaurant    30
Rest          29
Name: count, dtype: int64

In [105]:
wholesale

     Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen     Channel
0    12669  9656     7561     214              2674        1338        Cafe
1     7057  9810     9568    1762              3293        1776         Hot
2     6353  8808     7684    2405              3516        7844       Hotel
3    13265  1196     4221    6404               507        1788           C
4    22615  5410     7198    3915              1777        5185           H
..     ...   ...      ...     ...               ...         ...         ...
365   4692  6128     8025    1619              4515        3105        Cafe
366   9561  2217     1664    1173               222         447         Hot
367   3477   894      534    1457               252         342  Restaurant
368  22335  1196     2406    2046               101         558        Rest
369   6211   337      683    1089                41         296           H

[370 rows x 7 columns]

In [106]:
channel_mapping = {
    r'^C.*': 'Cafe',
    r'^H.*': 'Hotel',
    r'^R.*': 'Restaurant'
    }

In [107]:
wholesale["Channel"] = wholesale["Channel"].replace(channel_mapping, regex=True)

print(wholesale['Channel'].value_counts())

Channel
Hotel         146
Cafe          123
Restaurant    101
Name: count, dtype: int64

In [110]:
wholesale.value_counts().sum()

370

In [131]:
df_by_channel = wholesale.groupby('Channel').sum()
df_by_channel

              Fresh    Milk  Grocery  Frozen  Detergents_Paper  Delicassen
Channel
Cafe        1573539  864214  1092681  299045            404339      183000
Hotel       1877481  856613  1174121  516723            436774      275829
Restaurant   951601  506363   819539  297336            316837      119719

In [135]:
min_sum = df_by_channel.loc[['Cafe', 'Hotel', 'Restaurant']].sum(axis=1).min()

In [137]:
channel_with_least_sales = df_by_channel.sum(axis=1).idxmin()

In [138]:
channel_with_least_sales

'Restaurant'